@import url("https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#carousel-wrapper {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#carousel-wrapper #menu {
  height: 380px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#carousel-wrapper #menu #current-option {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#carousel-wrapper #menu #current-option #current-option-text1 {
  font-size: 1.6rem;
  line-height: 3rem;
  width: 220px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#carousel-wrapper #menu #current-option #current-option-text1::before {
  content: attr(data-next-text);
  position: absolute;
  -webkit-transform: translate(0%, 380px);
          transform: translate(0%, 380px);
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#carousel-wrapper #menu #current-option #current-option-text1::after {
  content: attr(data-previous-text);
  position: absolute;
  -webkit-transform: translate(0%, -380px);
          transform: translate(0%, -380px);
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#carousel-wrapper #menu #current-option #current-option-text2 {
  font-size: 0.8rem;
  width: 220px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carousel-wrapper #menu #current-option #current-option-text2::before {
  content: attr(data-next-text);
  position: absolute;
  -webkit-transform: translate(0%, 380px);
          transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carousel-wrapper #menu #current-option #current-option-text2::after {
  content: attr(data-previous-text);
  position: absolute;
  -webkit-transform: translate(0%, -380px);
          transform: translate(0%, -380px);
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carousel-wrapper #menu #previous-option {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(310px, 50px);
          transform: translate(310px, 50px);
}

#carousel-wrapper #menu #next-option {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(310px, -50px) rotate(180deg);
          transform: translate(310px, -50px) rotate(180deg);
}

#carousel-wrapper.anim-next {
  pointer-events: none;
}

#carousel-wrapper.anim-next #current-option-text1 {
  -webkit-animation: next-text 0.65s 0.085s;
          animation: next-text 0.65s 0.085s;
}

#carousel-wrapper.anim-next #current-option-text2 {
  -webkit-animation: next-text 0.65s 0.085s;
          animation: next-text 0.65s 0.085s;
}

#carousel-wrapper.anim-next #previous-option {
  -webkit-animation: next-top-arrow 0.65s 0.085s;
          animation: next-top-arrow 0.65s 0.085s;
}

#carousel-wrapper.anim-next #next-option {
  -webkit-animation: next-bottom-arrow 0.65s 0.085s;
          animation: next-bottom-arrow 0.65s 0.085s;
}

#carousel-wrapper.anim-next #image {
  -webkit-animation: next-image 0.65s 0.085s;
          animation: next-image 0.65s 0.085s;
}

#carousel-wrapper.anim-previous {
  pointer-events: none;
}

#carousel-wrapper.anim-previous #current-option-text1 {
  -webkit-animation: previous-text 0.65s 0.085s;
          animation: previous-text 0.65s 0.085s;
}

#carousel-wrapper.anim-previous #current-option-text2 {
  -webkit-animation: previous-text 0.65s 0.085s;
          animation: previous-text 0.65s 0.085s;
}

#carousel-wrapper.anim-previous #previous-option {
  -webkit-animation: previous-top-arrow 0.65s 0.085s;
          animation: previous-top-arrow 0.65s 0.085s;
}

#carousel-wrapper.anim-previous #next-option {
  -webkit-animation: previous-bottom-arrow 0.65s 0.085s;
          animation: previous-bottom-arrow 0.65s 0.085s;
}

#carousel-wrapper.anim-previous #image {
  -webkit-animation: previous-image 0.65s 0.085s;
          animation: previous-image 0.65s 0.085s;
}

@-webkit-keyframes previous-text {
  50%,
  55% {
    -webkit-transform: translate(0%, 390px);
            transform: translate(0%, 390px);
  }
  to {
    -webkit-transform: translate(0%, 380px);
            transform: translate(0%, 380px);
  }
}

@keyframes previous-text {
  50%,
  55% {
    -webkit-transform: translate(0%, 390px);
            transform: translate(0%, 390px);
  }
  to {
    -webkit-transform: translate(0%, 380px);
            transform: translate(0%, 380px);
  }
}

@-webkit-keyframes previous-top-arrow {
  50% {
    -webkit-transform: translate(310px, 53px);
            transform: translate(310px, 53px);
  }
}

@keyframes previous-top-arrow {
  50% {
    -webkit-transform: translate(310px, 53px);
            transform: translate(310px, 53px);
  }
}

@-webkit-keyframes previous-bottom-arrow {
  50% {
    -webkit-transform: translate(310px, -47px) rotate(180deg);
            transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    -webkit-transform: translate(310px, -47px) rotate(180deg);
            transform: translate(310px, -47px) rotate(180deg);
  }
}

@-webkit-keyframes previous-image {
  0% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(140px, 0) scale(1.1);
            transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes previous-image {
  0% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(140px, 0) scale(1.1);
            transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes next-text {
  50%,
  55% {
    -webkit-transform: translate(0%, -390px);
            transform: translate(0%, -390px);
  }
  to {
    -webkit-transform: translate(0%, -380px);
            transform: translate(0%, -380px);
  }
}

@keyframes next-text {
  50%,
  55% {
    -webkit-transform: translate(0%, -390px);
            transform: translate(0%, -390px);
  }
  to {
    -webkit-transform: translate(0%, -380px);
            transform: translate(0%, -380px);
  }
}

@-webkit-keyframes next-top-arrow {
  50% {
    -webkit-transform: translate(310px, 47px);
            transform: translate(310px, 47px);
  }
}

@keyframes next-top-arrow {
  50% {
    -webkit-transform: translate(310px, 47px);
            transform: translate(310px, 47px);
  }
}

@-webkit-keyframes next-bottom-arrow {
  50% {
    -webkit-transform: translate(310px, -53px) rotate(180deg);
            transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-bottom-arrow {
  50% {
    -webkit-transform: translate(310px, -53px) rotate(180deg);
            transform: translate(310px, -53px) rotate(180deg);
  }
}

@-webkit-keyframes next-image {
  0% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(140px, 0) scale(1.1);
            transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-image {
  0% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(140px, 0) scale(1.1);
            transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=carousel.css.map */